.cardses{
    max-width: 300px;
    background:skyblue;
    margin:  100px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}